/*--------------------------------------------------------------
16. Home-style-2
--------------------------------------------------------------*/

/*===================================
 06. about-area-s2
 ====================================*/

.about-area-s2 {
	.about-left-item {
		display: flex;
		align-items: flex-end;
		padding-right: 30px;

		@media(max-width:991px) {
			padding-right: 0;
			padding-bottom: 110px;
		}

		@media(max-width:450px) {
			display: block;
		}

		.about-right-img {
			@media(max-width:450px) {
				display: none;
			}
		}

		.about-left-img {
			padding-right: 20px;
			position: relative;

			@media(max-width:450px) {
				padding-right: 0;
			}

			img {
				border-radius: 114.5px 114.5px 0px 0px;
				width: 100%;
			}

			.left-top-shape {
				position: absolute;
				left: -15px;
				top: -12px;
				animation: bounceLeftToRight 2s infinite;

				img {
					border-radius: 0;
				}
			}

			.left-inner-img {
				position: absolute;
				right: -125px;
				top: 15px;
				transform: rotate(-18.489deg);

				@media(max-width:1399px) {
					max-width: 200px;
				}

				@media(max-width:450px) {
					display: none;
				}


				img {
					border-radius: 100px 100px 0px 0px;
					border: 4px solid $white;
				}

				.left-top-right-shape {
					position: absolute;
					right: -85px;
					top: 0;
					z-index: -1;
					animation: bounceLeftToRight 4s infinite;

					@media(max-width:1399px) {
						right: -55px;
					}

					img {
						border: 0;
					}
				}
			}

			.exprience-wrap {
				position: absolute;
				left: 25px;
				bottom: -80px;
				width: 222px;
				height: 222px;
				background: $project-primary-color;
				border-radius: 50%;
				text-align: center;

				@media(max-width:575px) {
					width: 150px;
					height: 150px;
				}

				.exprience-inner {
					padding: 40px;
					border: 1px dashed $main-heading-color;
					border-radius: 50%;
					width: 192px;
					height: 192px;
					position: relative;
					left: 15px;
					top: 15px;

					@media(max-width:575px) {
						width: 120px;
						height: 120px;
						padding: 10px;
					}

					p {
						font-size: 48px;
						font-style: normal;
						font-weight: 700;
						line-height: 20px;
						text-transform: capitalize;
						color: $main-heading-color;
						font-family: $heading-font;
						margin-bottom: 0;
						margin-top: 10px;

						@media(max-width:575px) {
							font-size: 30px;
						}

						span {
							font-size: 16px;
							display: block;
							font-size: 18px;
							font-style: normal;
							font-weight: 700;
							line-height: 27px;
							margin-top: 20px;

							@media(max-width:575px) {
								font-size: 14px;
								margin-top: 5px;
								margin-top: 10px;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
	}

	.about-right-item {
		.about-right-text {
			span {
				font-family: $heading-font;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 27px;
				letter-spacing: 4px;
				text-transform: uppercase;
				margin-bottom: 10px;
				display: block;
			}

			h2 {
				font-size: 48px;
				font-style: normal;
				font-weight: 700;
				line-height: 60px;
				margin-bottom: 20px;

				small {
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					-webkit-text-stroke: 1px #1F212D;
				}

				@media(max-width:1199px) {
					font-size: 35px;
					line-height: 45px;
				}
			}

			p {
				margin-bottom: 50px;

				@media(max-width:1199px) {
					margin-bottom: 40px;
				}
			}
		}
	}
}

/*===================================
 06. service-area-s2
 ====================================*/

.service-area-s2 {
	padding-top: 80px;

	.service-wrap {
		.service-item {
			.service-text {
				h3 {
					max-width: 230px;
				}

				.icon {
					width: 85px;
					height: 85px;
					line-height: 85px;
					text-align: center;
					background: $main-heading-color;
					border-radius: 50%;

					i {
						font-size: 30px;
						color: $project-primary-color;
					}

					&:before {
						display: none;
					}
				}
			}
		}
	}
}

/*===================================
 06. video-area
 ====================================*/

.video-area {
	.video-img {
		position: relative;

		.video-btn {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 124px;
			height: 124px;
			line-height: 124px;
			background: $main-heading-color;
			border-radius: 50%;
			z-index: 1;

			&:before {
				content: "";
				width: 0px;
				height: 0px;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-left: 25px solid #fff;
				position: absolute;
				left: 52%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		img {
			@media(max-width:767px) {
				min-height: 350px;
				object-fit: cover;
			}
		}
	}
}

/*===================================
 06. benefit-area
 ====================================*/

.benefit-area {
	padding-left: 95px;
	padding-right: 95px;
	padding-bottom: 90px;

	@include media-query(1750px) {
		padding-left: 35px;
		padding-right: 35px;
	}

	@media(max-width:1399px) {
		padding-left: 0px;
		padding-right: 0px;
	}


	@media(max-width:991px) {
		padding-bottom: 60px;
	}

	@media(max-width:767px) {
		padding-bottom: 50px;
	}

	.benefit-item {
		border-radius: 5px;
		border: 1px solid $border-color;
		padding: 60px 40px 55px;
		transform: translateY(0);
		transition: all .6s;
		margin-bottom: 30px;
		text-align: center;

		@include media-query(1750px) {
			padding: 40px 30px;
		}

		@media(max-width:1399px) {
			padding: 30px 15px;
		}

		.benefit-text {
			.icon {
				position: relative;
				z-index: 1;
				max-width: 93px;
				margin: 0 auto;
				margin-bottom: 30px;

				&:before {
					position: absolute;
					left: 20px;
					bottom: -5px;
					width: 73px;
					height: 73px;
					content: "";
					background: $project-primary-color;
					border-radius: 50%;
					z-index: -1;
					opacity: 0.5;
				}

				i {
					font-size: 60px;
				}
			}

			h3 {
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 30px;
				margin-bottom: 20px;

				@media(max-width:1399px) {
					font-size: 20px;
					line-height: 28px;
					margin-bottom: 10px;
				}

				a {
					color: $main-heading-color;
				}
			}

			a.read-more {
				font-family: $heading-font;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 32px;
				letter-spacing: 1.28px;
				text-transform: uppercase;
				color: $main-heading-color;
				position: relative;
				padding-right: 25px;

				&:before {
					position: absolute;
					right: 0px;
					top: 4px;
					content: "\e914";
					font-family: 'icomoon';
					-webkit-transition: all 0.3s;
					transition: all 0.3s;
					font-size: 12px;
					line-height: 100%;
					transition: all .3s;
				}

				&:hover {
					letter-spacing: 1.9px;

					&:before {
						right: -3px;
					}
				}
			}
		}
	}
}

/*===================================
 06. ch-portfolio-area-s2
 ====================================*/

.ch-portfolio-area-s2 {
	background: $main-heading-color;
	position: relative;
	z-index: 1;

	.right-shape {
		position: absolute;
		right: -150px;
		top: 50%;
		transform: translateY(-50%);
		opacity: .3;
		z-index: -1;

		@media(max-width:1199px) {
			max-width: 350px;
		}

		img {
			animation: circle 25s linear infinite;
		}
	}


	.ch-top-title {
		h2 {
			small {
				-webkit-text-stroke: 1px $white;
			}
		}
	}


	.porfolio-wrap {
		.porfolio-item {
			padding-bottom: 60px;
			border-bottom: 1px solid rgba(227, 227, 227, .2);
			margin-bottom: 60px;
			


			@media(max-width:575px) {
				text-align: center;
			}

			.porfolio-img {
				position: relative;
				z-index: 1;
				transition: all .3s;
				margin-right: 20px;
				transform: rotate(0);

				@media(max-width:991px) {
					margin-right: 0;
				}

				&::before {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					content: "";
					background: $project-primary-color;
					z-index: -1;
					border-radius: 5px;
					transition: all .3s;
				}
				img {
					border-radius: 5px;
					width: 100%;
				}
			}

			.porfolio-text {
				display: flex;
				align-items: center;

				@media(max-width:575px) {
					display: block;
					margin-top: 20px;
					text-align: center;
				}

				span i {
					font-size: 24px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
					display: inline-block;
					width: 71px;
					height: 71px;
					line-height: 71px;
					color: $white;
					text-align: center;
					border: 1px solid rgba(255, 255, 255, .1);
					border-radius: 50%;
					margin-right: 25px;

					@media(max-width:575px) {
						margin-right: 0;
					}
				}

				a {
					font-family: $heading-font;
					font-size: 32px;
					font-style: normal;
					font-weight: 700;
					line-height: 130%;
					text-transform: capitalize;
					max-width: 270px;
					display: block;
					color: $white;

					@media(max-width:1199px) {
						font-size: 25px;
					}

					@media(max-width:575px) {
						margin: 0 auto;
						margin-top: 10px;
					}

					&:hover {
						color: $project-primary-color;
					}
				}
			}

			.porfolio-des {
				padding-left: 30px;

				@media(max-width:991px) {
					padding-left: 0;
					margin-top: 20px;
				}

				p {
					color: $white;

					@media(max-width:991px) {
						margin-bottom: 0;
					}

				}
			}

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
			}

			&:hover {
				.porfolio-img {
					transform: rotate(-10deg);
	
					&::before {
						transform: rotate(10deg);
					}
				}
			}
		}
	}
}

/*===================================
 06. testimonial-section-s2
 ====================================*/

.testimonial-section-s2 {
	position: relative;
	.right-shape {
		position: absolute;
		right: -30px;
		top: 50px;
		opacity: .2;

		@media(max-width:1199px) {
			max-width: 200px;
		}


		img {
			animation: bounceLeftToRight 4s infinite;
		}
	}

	.testimonial-right-img {
		position: relative;
		width: 130%;
		left: -30%;

		@media(max-width:991px) {
			display: none;
		}
	}

	.testimonial-item {
		padding: 100px 60px;
		background: $project-primary-color;

		@media(max-width:1399px) {
			padding: 60px 40px;
		}

		@media(max-width:1199px) {
			padding: 40px 30px;
		}

		@media(max-width:575px) {
			padding: 30px 20px;
		}

		.testimonial-text {
			ul {
				display: flex;
				margin-bottom: 20px;

				li {
					&+li {
						margin-left: 10px;
					}
				}
			}

			.testimonial-info {
				display: flex;
				margin-top: 30px;
				align-items: center;

				.testimonial-avatar {
					margin-right: 20px;

					img {
						border-radius: 50%;
					}
				}

				h3 {
					font-size: 24px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
					margin-bottom: 5px;

					@media(max-width:575px) {
						font-size: 20px;
						margin-bottom: 0;
					}
				}

				span {
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 30px;
				}
			}

			p {
				margin-bottom: 0;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%;

				@media(max-width:1199px) {
					font-size: 18px;
				}
			}
		}
	}

	.owl-nav [class*=owl-] {
		background: transparent;
		width: 60px;
		height: 60px;
		line-height: 62px;
		border: 1px solid $project-primary-color;
		color: $main-heading-color;
		padding: 0;
		font-size: 20px;
		margin: 0;
		border-radius: 50%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
		z-index: 1;
		right: -60%;
		top: -210px;

		@media(max-width:991px) {
			top: -160px;
		}

		&:hover {
			&:before {
				opacity: 1;
				visibility: visible;
			}

			background: $project-primary-color;
		}

		@media(max-width:991px) {
			display: none;
		}

		&.owl-next {
			position: absolute;
			right: -72%;
		}

		&.owl-prev {
			position: absolute;
		}
	}

	.owl-dots {
		text-align: center;
		margin-top: 20px;

		@media(min-width:991px) {
			display: none;
		}

		button {
			width: 10px;
			height: 12px;
			border-radius: 50%;
			border: 0;
			margin: 5px;
			background-color: #d6d6d6;

			&.active {
				background-color: $project-primary-color;
			}
		}
	}
}

.text-moving-sec-s2.main-dark {
	background-color: $main-heading-color;
	.text-moving {
		background: $main-heading-color;

		h1 span:nth-child(even) {
			color: $project-primary-color;
		}

		h1 span:nth-child(odd) {
			-webkit-text-stroke: 1px $project-primary-color;
		}

		h1 i {
			color: $project-primary-color;
		}
	}
}

/*===================================
 06. team-area
 ====================================*/

.team-area {
	padding-bottom: 90px;

	@media(max-width:991px) {
		padding-bottom: 60px;
	}

	@media(max-width:767px) {
		padding-bottom: 50px;
	}

	.team-item {
		padding: 30px;
		padding-top: 0;
		position: relative;
		z-index: 1;
		margin-bottom: 30px;

		&:before {
			position: absolute;
			left: 0;
			bottom: 0;
			height: 80%;
			width: 100%;
			content: "";
			background: #FBF3F2;
			z-index: -1;
			border-radius: 5px;
		}

		.team-img {
			overflow: hidden;

			img {
				transform: scale(1);
				transition: all .6s;
				width: 100%;
			}

		}

		&:hover {
			.team-img {
				img {
					transform: scale(1.2);
				}

			}
		}

		.team-text {
			text-align: center;
			padding-top: 25px;

			h3 {
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 30px;

				a {
					color: $main-heading-color;
				}
			}
		}
	}
}


/*===================================
 06. funfact-area style-2
 ====================================*/

.funfact-area.style-2 {
	.info {
		background: $white;
		border-right: 1px solid $border-color;
		padding-top: 0;
		padding-bottom: 0;

		@media(max-width:991px) {
			text-align: center;
			padding: 30px 10px 20px;
		}
		@media(max-width:575px) {
			padding: 10px 10px 0px;
			border: 0;
		}

		p {
			color: $main-heading-color;
		}

		h3 {
			-webkit-text-stroke: 1px $main-heading-color;

			span {
				font-family: $heading-font;
			}
		}
	}

	.col {
		&:last-child {
			.info {
				border: 0;
			}
		}

		@media(max-width:991px) {
			&:nth-child(2) {
				.info {
					border: 0;
				}
			}
		}
	}
}


/*===================================
 06. about-event-area
 ====================================*/
.about-event-area {
	.event-wrap {
		background: $main-heading-color;
		padding: 80px 30px;
		position: relative;
		z-index: 1;
		margin-bottom: -200px;

		@media(max-width:575px) {
			padding: 50px 15px;
		}

		&:before {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			content: "";
			z-index: -1;
			background: url(../images/event-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			opacity: .3;
		}

		.ch-top-title {
			text-align: center;
			margin-bottom: 0;

			h2 {
				small {
					-webkit-text-stroke: 1px #fff;
				}

				margin-bottom: 30px;
			}

			.ch-btn-style-1 {
				border-color: #E3E3E3;
			}
		}
	}
}

/*==============================
 11. company-area
 ===============================*/

.company-area {
	background: #DCE8E4;
	padding-top: 327px;

	@media(max-width:991px) {
		padding-top: 300px;
	}

	@media(max-width:575px) {
		padding-top: 260px;
	}


	.company-wrap {
		.ch-top-title-s3 {
			max-width: 520px;

			@media(max-width:991px) {
				margin: 0 auto;
				margin-bottom: 40px;
			}

			p {
				font-size: 16px;
				margin-bottom: 30px;
			}

			.ch-btn-style-2 {
				background-color: $main-heading-color;
				color: $white;
				border-color: $main-heading-color;

				&:hover {
					background: none;
					color: $main-heading-color;
				}
			}
		}

		.comapny-item {
			background: $white;
			padding: 30px 30px;
			border-radius: 5px;
			position: relative;
			display: block;
			margin-bottom: 30px;
			z-index: 1;

			&::before {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				content: "";
				background: $main-heading-color;
				z-index: -1;
				border-radius: 5px;
				transform: scale(0.9);
				transition: all .3s;
				opacity: 0;
			}

			@media(max-width:991px) {
				&:last-child {
					margin-bottom: 0;
				}
			}

			.comapny-item-info {
				padding-right: 60px;

				h4 {
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 27px;
					transition: all .3s;
				}

				span {
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 30px;
					color: $main-heading-color;
					transition: all .3s;
				}

			}

			small {
				position: absolute;
				right: 40px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 20px;
				font-style: normal;
				font-weight: 900;
				line-height: normal;
				color: $main-heading-color;
				transition: all .6s;
				width: 20px;
				height: 20px;
				transition: all .3s;
			}

			&:hover {
				small {
					transform: rotate(-40deg);
					margin-top: -10px;
				}

				&::before {
					transform: scale(1);
					opacity: 1;
				}

				.comapny-item-info {
					padding-right: 60px;
	
					h4 {
						color: $white;
					}
	
					span {
						color: $white;
					}
	
				}

				small {
					color: $white;
				}
			}
		}
	}
}

/*===================================
 06. ch-blog-area-s2
 ====================================*/

 .ch-blog-area-s2 {
	position: relative;
	z-index: 1;
	.left-shape {
		position: absolute;
		left: -30px;
		bottom:20%;
		opacity: .5;

		@media(max-width:1199px) {
			max-width: 200px;
		}


		img {
			animation: bounceLeftToRight 4s infinite;
		}
	}
	.blog-items  {
		.blog-item {
			display: block;
			margin-left: 0;
			padding: 10px;

			.blog-img-left {
				margin-left: 0;
				padding-left: 0px;

				img {
					border-radius: 5px;
				}
			}

			.blog-content {
				padding-bottom: 10px;
			}
		}
	}
 }