@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ihzy3z');
  src:  url('fonts/icomoon.eot?ihzy3z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ihzy3z') format('truetype'),
    url('fonts/icomoon.woff?ihzy3z') format('woff'),
    url('fonts/icomoon.svg?ihzy3z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Adobe-Illustrator-logo:before {
  content: "\e900";
}
.icon-Adobe-XD-logo:before {
  content: "\e901";
}
.icon-Figma-logo:before {
  content: "\e902";
}
.icon-Global-connection---Free-networking-icons-2-1:before {
  content: "\e903";
}
.icon-Group-7042:before {
  content: "\e904";
}
.icon-Group-7043:before {
  content: "\e905";
}
.icon-Group-7044:before {
  content: "\e906";
}
.icon-social:before {
  content: "\e907";
}
.icon-sicon1:before {
  content: "\e908";
}
.icon-sicon2:before {
  content: "\e909";
}
.icon-sicon3:before {
  content: "\e90a";
}
.icon-sicon4:before {
  content: "\e90b";
}
.icon-sicon5:before {
  content: "\e90c";
}
.icon-sicon6:before {
  content: "\e90d";
}
.icon-Group:before {
  content: "\e90e";
}
.icon-Java-logo:before {
  content: "\e90f";
}
.icon-medal:before {
  content: "\e910";
}
.icon-php-logo:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
.icon-wordpress-logo:before {
  content: "\e913";
}
.icon-arrow:before {
  content: "\e914";
}
.icon-quote:before {
  content: "\e915";
}
.icon-calender:before {
  content: "\e916";
}
.icon-flyer:before {
  content: "\e917";
}
